beautifulsoup4==4.12.3
bitsandbytes==0.44.1
diffusers==0.31.0
einops==0.8.0
fastapi==0.115.4
fire==0.7.0
flash_attn==2.6.3
gradio==5.4.0
huggingface_hub==0.23.0
markdownify==0.13.1
natsort==8.4.0
numpy==2.1.2
openai==1.53.0
peft==0.13.2
Pillow==10.0.1
Pillow==11.0.0
polyglot==16.7.4
pycld2==0.41
ray==2.38.0
Requests==2.32.3
sglang==0.3.4.post2
shortuuid==1.0.13
torch==2.0.0
tqdm==4.66.1
transformers==4.34.0
uvicorn==0.32.0
xformers==0.0.28.post3
